In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [105]:
dataset = pd.read_csv("heart.csv")
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [106]:
dataset.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [107]:
X = dataset.iloc[:, :-1]
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [108]:
y = dataset.iloc[:, [-1]]
y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [109]:
X_ohe = pd.get_dummies(X, columns=["cp", "restecg", "slope", "thal"])

In [110]:
X_ohe.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'ca', 'cp_0', 'cp_1', 'cp_2', 'cp_3', 'restecg_0', 'restecg_1',
       'restecg_2', 'slope_0', 'slope_1', 'slope_2', 'thal_0', 'thal_1',
       'thal_2', 'thal_3'],
      dtype='object')

In [111]:
X_ohe = X_ohe.drop(["cp_0", "restecg_0", "slope_0", "thal_0"], axis=1)

In [112]:
X_ohe.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,cp_1,cp_2,cp_3,restecg_1,restecg_2,slope_1,slope_2,thal_1,thal_2,thal_3
0,63,1,145,233,1,150,0,2.3,0,0,0,1,0,0,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,0,1,0,1,0,0,0,0,1,0
2,41,0,130,204,0,172,0,1.4,0,1,0,0,0,0,0,1,0,1,0
3,56,1,120,236,0,178,0,0.8,0,1,0,0,1,0,0,1,0,1,0
4,57,0,120,354,0,163,1,0.6,0,0,0,0,1,0,0,1,0,1,0

In [113]:
X_ohe.shape

(303, 19)

In [114]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0
)

In [115]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [116]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [117]:
dnn = Sequential()
dnn.add(keras.Input(shape=(13,)))
dnn.add(Dense(512, activation="relu"))
dnn.add(Dropout(0.1))
dnn.add(Dense(256, activation="relu"))
dnn.add(Dropout(0.1))
dnn.add(Dense(256, activation="relu"))
# dnn.add(Dropout(0.1))
dnn.add(Dense(1, activation="sigmoid"))
dnn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [118]:
dnn.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    batch_size=20,
    epochs=30,
)

Epoch 1/30
13/13 [==============================] - 1s 36ms/step - loss: 0.5255 - accuracy: 0.7521 - val_loss: 0.3456 - val_accuracy: 0.8525
Epoch 2/30
13/13 [==============================] - 0s 22ms/step - loss: 0.3698 - accuracy: 0.8264 - val_loss: 0.3575 - val_accuracy: 0.8525
Epoch 3/30
13/13 [==============================] - 0s 11ms/step - loss: 0.3277 - accuracy: 0.8760 - val_loss: 0.3459 - val_accuracy: 0.8852
Epoch 4/30
13/13 [==============================] - 0s 10ms/step - loss: 0.2915 - accuracy: 0.8884 - val_loss: 0.3597 - val_accuracy: 0.8525
Epoch 5/30
13/13 [==============================] - 0s 10ms/step - loss: 0.2666 - accuracy: 0.8719 - val_loss: 0.3509 - val_accuracy: 0.8852
Epoch 6/30
13/13 [==============================] - 0s 9ms/step - loss: 0.2421 - accuracy: 0.8967 - val_loss: 0.3772 - val_accuracy: 0.8689
Epoch 7/30
13/13 [==============================] - 0s 9ms/step - loss: 0.2239 - accuracy: 0.9132 - val_loss: 0.3472 - val_accuracy: 0.9016
Epoch 8/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1812 - accuracy: 0.9091 - val_loss: 0.4133 - val_accuracy: 0.8525
Epoch 9/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1613 - accuracy: 0.9380 - val_loss: 0.3463 - val_accuracy: 0.8689
Epoch 10/30
13/13 [==============================] - 0s 9ms/step - loss: 0.1449 - accuracy: 0.9298 - val_loss: 0.3727 - val_accuracy: 0.8689
Epoch 11/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1544 - accuracy: 0.9380 - val_loss: 0.4778 - val_accuracy: 0.8689
Epoch 12/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1726 - accuracy: 0.9339 - val_loss: 0.4487 - val_accuracy: 0.8525
Epoch 13/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1423 - accuracy: 0.9380 - val_loss: 0.3762 - val_accuracy: 0.8852
Epoch 14/30
13/13 [==============================] - 0s 10ms/step - loss: 0.1102 - accuracy: 0.9628 - val_loss: 0.5066 - val_accuracy: 0.8689
Epoch 15/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0916 - accuracy: 0.9669 - val_loss: 0.4565 - val_accuracy: 0.8689
Epoch 16/30
13/13 [==============================] - 0s 10ms/step - loss: 0.0739 - accuracy: 0.9752 - val_loss: 0.4200 - val_accuracy: 0.8525
Epoch 17/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0575 - accuracy: 0.9793 - val_loss: 0.4620 - val_accuracy: 0.8689
Epoch 18/30
13/13 [==============================] - 0s 10ms/step - loss: 0.0441 - accuracy: 0.9876 - val_loss: 0.4988 - val_accuracy: 0.8689
Epoch 19/30
13/13 [==============================] - 0s 10ms/step - loss: 0.0366 - accuracy: 0.9917 - val_loss: 0.5572 - val_accuracy: 0.8361
Epoch 20/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0296 - accuracy: 0.9959 - val_loss: 0.5592 - val_accuracy: 0.8525
Epoch 21/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0236 - accuracy: 0.9959 - val_loss: 0.6189 - val_accuracy: 0.8525
Epoch 22/30
13/13 [==============================] - 0s 13ms/step - loss: 0.0182 - accuracy: 1.0000 - val_loss: 0.6072 - val_accuracy: 0.8689
Epoch 23/30
13/13 [==============================] - 0s 14ms/step - loss: 0.0161 - accuracy: 1.0000 - val_loss: 0.7091 - val_accuracy: 0.8525
Epoch 24/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0105 - accuracy: 1.0000 - val_loss: 0.8000 - val_accuracy: 0.8525
Epoch 25/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0067 - accuracy: 1.0000 - val_loss: 0.7544 - val_accuracy: 0.8852
Epoch 26/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0072 - accuracy: 1.0000 - val_loss: 0.7367 - val_accuracy: 0.8689
Epoch 27/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0056 - accuracy: 1.0000 - val_loss: 0.7277 - val_accuracy: 0.8689
Epoch 28/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0121 - accuracy: 0.9959 - val_loss: 0.8011 - val_accuracy: 0.8689
Epoch 29/30
13/13 [==============================] - 0s 10ms/step - loss: 0.0305 - accuracy: 0.9835 - val_loss: 0.7772 - val_accuracy: 0.8525
Epoch 30/30
13/13 [==============================] - 0s 9ms/step - loss: 0.0538 - accuracy: 0.9876 - val_loss: 0.7639 - val_accuracy: 0.8689

In [119]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [120]:
y_pred = dnn.predict(X_test)
dnn_predicted = y_pred > 0.5
dnn_conf_matrix = confusion_matrix(y_test, dnn_predicted)
dnn_acc_score = accuracy_score(y_test, dnn_predicted)
print("confussion matrix")
print(dnn_conf_matrix)
print("\n")
print("Accuracy of DNN:", dnn_acc_score * 100, "\n")
print(classification_report(y_test, dnn_predicted))

WARNING:tensorflow:5 out of the last 11 calls to <function Model.make_predict_function.<locals>.predict_function at 0x000001359F7A53F0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
confussion matrix
[[22  5]
 [ 3 31]]


Accuracy of DNN: 86.88524590163934

              precision    recall  f1-score   support

           0       0.88      0.81      0.85        27
           1       0.86      0.91      0.89        34

    accuracy                           0.87        61
   macro avg       0.87      0.86      0.87        61
weighted avg       0.87      0.87      0.87        61