In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
dataset = pd.read_csv("processed.cleveland.data", header=None)
dataset.columns = [
    "age",
    "sex",
    "cp",
    "restbp",
    "chol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "hd",
]
dataset.head()

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [78]:
dataset.dtypes

age        float64
sex        float64
cp         float64
restbp     float64
chol       float64
fbs        float64
restecg    float64
thalach    float64
exang      float64
oldpeak    float64
slope      float64
ca          object
thal        object
hd           int64
dtype: object

In [79]:
dataset['ca'].unique()

array(['0.0', '3.0', '2.0', '1.0', '?'], dtype=object)

In [80]:
dataset['thal'].unique()

array(['6.0', '3.0', '7.0', '?'], dtype=object)

In [81]:
df = dataset.loc[(dataset["ca"] != "?") & (dataset["thal"] != "?")]

In [82]:
X = df.iloc[:, :-1]
X.head()

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0

In [83]:
y = df.iloc[:, [-1]]
y.head()

   hd
0   0
1   2
2   1
3   0
4   0

In [84]:
y['hd'].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [85]:
X_ohe = pd.get_dummies(X, columns=["cp", "restecg", "slope", "thal"])

In [86]:
X_ohe.head()

,age,sex,restbp,chol,fbs,thalach,exang,oldpeak,ca,cp_1.0,...,cp_4.0,restecg_0.0,restecg_1.0,restecg_2.0,slope_1.0,slope_2.0,slope_3.0,thal_3.0,thal_6.0,thal_7.0
0,63.0,1.0,145.0,233.0,1.0,150.0,0.0,2.3,0.0,1,...,0,0,0,1,0,0,1,0,1,0
1,67.0,1.0,160.0,286.0,0.0,108.0,1.0,1.5,3.0,0,...,1,0,0,1,0,1,0,1,0,0
2,67.0,1.0,120.0,229.0,0.0,129.0,1.0,2.6,2.0,0,...,1,0,0,1,0,1,0,0,0,1
3,37.0,1.0,130.0,250.0,0.0,187.0,0.0,3.5,0.0,0,...,0,1,0,0,0,0,1,1,0,0
4,41.0,0.0,130.0,204.0,0.0,172.0,0.0,1.4,0.0,0,...,0,0,0,1,1,0,0,1,0,0

In [87]:
X_ohe.columns

Index(['age', 'sex', 'restbp', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'ca', 'cp_1.0', 'cp_2.0', 'cp_3.0', 'cp_4.0', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0', 'slope_1.0', 'slope_2.0', 'slope_3.0',
       'thal_3.0', 'thal_6.0', 'thal_7.0'],
      dtype='object')

In [88]:
X_ohe = X_ohe.drop(['cp_1.0', 'restecg_0.0', 'slope_1.0', 'thal_3.0'], axis = 1)

In [89]:
y_ohe = pd.get_dummies(y, columns=['hd'])

In [90]:
y_ohe.head()

   hd_0  hd_1  hd_2  hd_3  hd_4
0     1     0     0     0     0
1     0     0     1     0     0
2     0     1     0     0     0
3     1     0     0     0     0
4     1     0     0     0     0

In [91]:
y_ohe.columns

Index(['hd_0', 'hd_1', 'hd_2', 'hd_3', 'hd_4'], dtype='object')

In [92]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_ohe, y_ohe, test_size=0.3, random_state=0
)

In [93]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [94]:
X_train.shape

(207, 18)

In [95]:
y_train.shape

(207, 5)

In [96]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from scikeras.wrappers import KerasClassifier
from sklearn.model_selection import cross_val_score

In [97]:
def build_classifier():
    classifier = Sequential()
    classifier.add(keras.Input(shape=(18,)))
    classifier.add(Dense(1024, activation="relu"))
    classifier.add(Dropout(0.1))
    classifier.add(Dense(512, activation="relu"))
    classifier.add(Dropout(0.1))
    classifier.add(Dense(512, activation="relu"))
    classifier.add(Dropout(0.1))
    classifier.add(Dense(5, activation="softmax"))
    classifier.compile(
        optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"]
    )
    return classifier

In [98]:
classifier = KerasClassifier(build_fn=build_classifier, epochs=70, batch_size=10)
accuracies = cross_val_score(
    estimator=classifier, X=X_train, y=y_train, cv=5, n_jobs=-1
)

In [99]:
mean = accuracies.mean()
variance = accuracies.std()
print(mean)
print(variance)

0.5364692218350755
0.05557512527614921

In [100]:
classifier.fit(X_train, y_train)

c:\Users\ishaa\AppData\Local\Programs\Python\Python310\lib\site-packages\scikeras\wrappers.py:290: UserWarning: ``build_fn`` will be renamed to ``model`` in a future release, at which point use of ``build_fn`` will raise an Error instead.
  warnings.warn(

Epoch 1/70
21/21 [==============================] - 3s 6ms/step - loss: 1.1698 - accuracy: 0.5217
Epoch 2/70
21/21 [==============================] - 0s 6ms/step - loss: 0.8395 - accuracy: 0.6425
Epoch 3/70
21/21 [==============================] - 0s 6ms/step - loss: 0.7425 - accuracy: 0.6957
Epoch 4/70
21/21 [==============================] - 0s 6ms/step - loss: 0.6716 - accuracy: 0.7101
Epoch 5/70
21/21 [==============================] - 0s 6ms/step - loss: 0.5252 - accuracy: 0.7874
Epoch 6/70
21/21 [==============================] - 0s 6ms/step - loss: 0.4755 - accuracy: 0.7681
Epoch 7/70
21/21 [==============================] - 0s 6ms/step - loss: 0.4367 - accuracy: 0.8164
Epoch 8/70
21/21 [==============================] - 0s 6ms/step - loss: 0.3580 - accuracy: 0.8647
Epoch 9/70
21/21 [==============================] - 0s 6ms/step - loss: 0.2848 - accuracy: 0.8986
Epoch 10/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1978 - accuracy: 0.9469
Epoch 11/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1880 - accuracy: 0.9324
Epoch 12/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1426 - accuracy: 0.9565
Epoch 13/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0914 - accuracy: 0.9662
Epoch 14/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0634 - accuracy: 0.9903
Epoch 15/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0695 - accuracy: 0.9758
Epoch 16/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0418 - accuracy: 0.9855
Epoch 17/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0692 - accuracy: 0.9855
Epoch 18/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0884 - accuracy: 0.9807
Epoch 19/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0354 - accuracy: 0.9952
Epoch 20/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0261 - accuracy: 0.9952
Epoch 21/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0164 - accuracy: 0.9952
Epoch 22/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0168 - accuracy: 0.9952
Epoch 23/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0257 - accuracy: 0.9903
Epoch 24/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0337 - accuracy: 0.9903
Epoch 25/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1085 - accuracy: 0.9855
Epoch 26/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0469 - accuracy: 0.9855
Epoch 27/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0597 - accuracy: 0.9855
Epoch 28/70
21/21 [==============================] - 0s 6ms/step - loss: 0.4137 - accuracy: 0.8889
Epoch 29/70
21/21 [==============================] - 0s 6ms/step - loss: 0.2689 - accuracy: 0.9227
Epoch 30/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1511 - accuracy: 0.9372
Epoch 31/70
21/21 [==============================] - 0s 6ms/step - loss: 0.1075 - accuracy: 0.9758
Epoch 32/70
21/21 [==============================] - 0s 5ms/step - loss: 0.0477 - accuracy: 0.9855
Epoch 33/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0589 - accuracy: 0.9855
Epoch 34/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0193 - accuracy: 1.0000
Epoch 35/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0120 - accuracy: 1.0000
Epoch 36/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0052 - accuracy: 1.0000
Epoch 37/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0029 - accuracy: 1.0000
Epoch 38/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0029 - accuracy: 1.0000
Epoch 39/70
21/21 [==============================] - 0s 5ms/step - loss: 0.0016 - accuracy: 1.0000
Epoch 40/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0016 - accuracy: 1.0000
Epoch 41/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0012 - accuracy: 1.0000
Epoch 42/70
21/21 [==============================] - 0s 5ms/step - loss: 9.8639e-04 - accuracy: 1.0000
Epoch 43/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0012 - accuracy: 1.0000
Epoch 44/70
21/21 [==============================] - 0s 6ms/step - loss: 7.7974e-04 - accuracy: 1.0000
Epoch 45/70
21/21 [==============================] - 0s 6ms/step - loss: 7.0232e-04 - accuracy: 1.0000
Epoch 46/70
21/21 [==============================] - 0s 6ms/step - loss: 7.1065e-04 - accuracy: 1.0000
Epoch 47/70
21/21 [==============================] - 0s 6ms/step - loss: 5.1983e-04 - accuracy: 1.0000
Epoch 48/70
21/21 [==============================] - 0s 6ms/step - loss: 4.5022e-04 - accuracy: 1.0000
Epoch 49/70
21/21 [==============================] - 0s 6ms/step - loss: 4.8819e-04 - accuracy: 1.0000
Epoch 50/70
21/21 [==============================] - 0s 6ms/step - loss: 3.6339e-04 - accuracy: 1.0000
Epoch 51/70
21/21 [==============================] - 0s 6ms/step - loss: 4.0095e-04 - accuracy: 1.0000
Epoch 52/70
21/21 [==============================] - 0s 6ms/step - loss: 4.2859e-04 - accuracy: 1.0000
Epoch 53/70
21/21 [==============================] - 0s 6ms/step - loss: 4.2722e-04 - accuracy: 1.0000
Epoch 54/70
21/21 [==============================] - 0s 6ms/step - loss: 0.0010 - accuracy: 1.0000
Epoch 55/70
21/21 [==============================] - 0s 6ms/step - loss: 3.3515e-04 - accuracy: 1.0000
Epoch 56/70
21/21 [==============================] - 0s 6ms/step - loss: 5.4377e-04 - accuracy: 1.0000
Epoch 57/70
21/21 [==============================] - 0s 6ms/step - loss: 3.2162e-04 - accuracy: 1.0000
Epoch 58/70
21/21 [==============================] - 0s 6ms/step - loss: 3.2000e-04 - accuracy: 1.0000
Epoch 59/70
21/21 [==============================] - 0s 6ms/step - loss: 3.6901e-04 - accuracy: 1.0000
Epoch 60/70
21/21 [==============================] - 0s 6ms/step - loss: 2.0140e-04 - accuracy: 1.0000
Epoch 61/70
21/21 [==============================] - 0s 6ms/step - loss: 2.4562e-04 - accuracy: 1.0000
Epoch 62/70
21/21 [==============================] - 0s 6ms/step - loss: 1.9954e-04 - accuracy: 1.0000
Epoch 63/70
21/21 [==============================] - 0s 5ms/step - loss: 2.3067e-04 - accuracy: 1.0000
Epoch 64/70
21/21 [==============================] - 0s 6ms/step - loss: 2.0115e-04 - accuracy: 1.0000
Epoch 65/70
21/21 [==============================] - 0s 5ms/step - loss: 2.2023e-04 - accuracy: 1.0000
Epoch 66/70
21/21 [==============================] - 0s 6ms/step - loss: 1.7526e-04 - accuracy: 1.0000
Epoch 67/70
21/21 [==============================] - 0s 6ms/step - loss: 2.2103e-04 - accuracy: 1.0000
Epoch 68/70
21/21 [==============================] - 0s 6ms/step - loss: 2.9496e-04 - accuracy: 1.0000
Epoch 69/70
21/21 [==============================] - 0s 6ms/step - loss: 2.1644e-04 - accuracy: 1.0000
Epoch 70/70
21/21 [==============================] - 0s 6ms/step - loss: 2.3470e-04 - accuracy: 1.0000

KerasClassifier(
	model=None
	build_fn=<function build_classifier at 0x000001B30213AB00>
	warm_start=False
	random_state=None
	optimizer=rmsprop
	loss=None
	metrics=None
	batch_size=10
	validation_batch_size=None
	verbose=1
	callbacks=None
	validation_split=0.0
	shuffle=True
	run_eagerly=False
	epochs=70
	class_weight=None
)

In [101]:
y_pred = classifier.predict(X_test)

9/9 [==============================] - 0s 1ms/step

In [102]:
from sklearn.metrics import accuracy_score

In [103]:
acc = accuracy_score(y_true=y_test, y_pred=y_pred) * 100
print('Accuracy score:', acc)

Accuracy score: 53.333333333333336